.bg-effect {
    background-image: url(../../assets/Images/banner-waves-3_iwmett.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 195px;
    width: 100%;
    position: relative;
    .copyright-section {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
    }
}