<section class="contact_us" id="contactUs">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="contact_inner">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="contact_form_inner">
                                <div class="contact_field">
                                    <h3>
                                        Contact Us
                                    </h3>
                                    <p>
                                        Feel Free to contact us any time. We will get back to you as soon as we can!.
                                    </p>
                                    <!-- get the data using form control Name -->
                                    <form [formGroup]="myForm">
                                        <!-- <p>
                                            {{myForm.value|json}}
                                        </p> -->
                                        <input type="text" formControlName="name" class="form-control" placeholder="Name" required />
                                        <div *ngIf="firstGroup['name']?.invalid && isSubmitted" class="error-message">
                                            Name is required.
                                          </div>
                                        <input type="text" formControlName="email"  class="form-control mt-4" placeholder="Email" required />
                                        <!-- myForm.get('email')?.hasError('required') -->
                                        <div *ngIf="firstGroup['email']?.invalid && isSubmitted" class="error-message">
                                            Email is required.
                                          </div>
                                        <textarea class="form-control mt-4" formControlName="message" placeholder="Message" required></textarea>
                                        <div *ngIf="firstGroup['message']?.invalid && isSubmitted" class="error-message">
                                            Message is required.
                                          </div>
                                        <button type="submit" class="btn-solid mt-4 w-50" (click)="onShowData()">
                                            <span>&#10145;</span> Submit
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="contact_info_sec">
                        <h4>
                            Contact Info
                        </h4>
                        <div class="d-flex info_single align-items-center">
                            <a href="tel:+91 98765 43210">
                                <i class="fas fa-headset"></i>
                                <span>
                                    +91 98765 43210
                                </span>
                            </a>
                        </div>
                        <div class="d-flex info_single align-items-center">
                            <a href="mailto:info@domain.com">
                                <i class="fas fa-envelope-open-text"></i>
                                <span>
                                    info@domain.com
                                </span>
                            </a>
                        </div>
                        <div class="d-flex info_single align-items-center">
                            <i class="fas fa-map-marked-alt"></i>
                            <span>
                                Surat, Gujarat - 395005.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>