$black : #000;
$black-opacity : rgba(0,0,0,0.5);
$light-black : #222222;
$gainsboro : #dcdcdc;
$white : #ffffff;
$white-opacity : rgba(255,255,255,0.5);
$main-color : #4899f0;
$main-color2: #5c9fe6;
$main-color3: #89b6e7;
$light-white : #f6f9fe;
$blue : rgba(0,146,255,1);
$light-blue : rgba(67,175,255,1);
$skyblue : rgba(140,199,243,1);
$grey : rgb(128,128,128);
$light-grey : #f4f5f8;
$light-gray : #686a6f;
$bg-gray : #fafafa;
$light-skyblue : #c7ecff;
$light-pink : #f9efff;
$bg-blue : rgba(0,149,242,.1019607843);
$blue-shadow : rgba(26, 46, 85, 0.15);
$light-blue : rgba(91,151,238,0.3);