@import '../../../assets/css/color.scss';

.home-banner-section {
    background: url(../../../assets/Images/home-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    #myVideo {
        width: 100%;
    }
    .gradient {
        &:after {
            content: "";
            // background: linear-gradient(-45deg, rgba(35, 189, 232, 0.7), rgba(12, 54, 210, 0.75));
            position: absolute;
            height: 100%;
            width: 100%;   
        }
        .banner-content {
            display: flex;
            justify-content: center;
            align-items: center;
            top: 30%;
            width: 100%;
            position: absolute;
            z-index: 99;
            text-align: center;
            h1 {
                color: $white;
                font-size: 120px;
                text-align: center;
                text-shadow: 1px 2px 7px #222;
                z-index: 10;
                margin: 0;
                strong {
                    color: transparent;
                    -webkit-text-stroke: 1px #d0d6f5;
                }
                small {
                    font-size: 24px;
                    display: block;
                }
                @media screen and (max-width:767px) {
                    font-size: 55px;
                }
            }
            .banner-desription {
                color: $white;
                font-weight: 600;
                font-size: 24px;
                margin-top: 20px;
                letter-spacing: 1px;
            }
        }
    }
    svg {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        // overflow: visible;
    }
}