<div class="home-banner-section" id="home">
  <div class="gradient">
    <div class="banner-content">
      <div class="container">
        <h1>Gradient Cover</h1>
      </div>
    </div>
  </div>

  <!-- <video id="myVideo" muted loop autoplay> 
    <source src="../../../assets/video/home-baner.mp4" type="video/mp4" />
  </video> -->
  
  <!-- Wave SVG -->
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none">
   <defs>
      <path id="gentle-wave" d="M-160 44c30 0 58-18 68-18s 58 18 88 18 58-18 98-5 58 18 88 18 v44h-352z" />
   </defs>
   <g>
     <use xlink:href="#gentle-wave" x="55" y="0" fill="rgba(255, 255, 255, 0.6)"/>
     <use xlink:href="#gentle-wave" x="48" y="2" fill="rgba(255, 255, 255, 0.6)"/>
     <use xlink:href="#gentle-wave" x="50" y="4" fill="rgba(255, 255, 255, 1)"/>  
   </g>
  </svg>
</div>