.home-banner-section {
    background: url(https://images.unsplash.com/photo-1480714378408-67cf0d13bc1b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    #myVideo {
        width: 100%;
    }
    .gradient {
        &:after {
            content: "";
            background: linear-gradient(-45deg, rgba(35, 189, 232, 0.7), rgba(12, 54, 210, 0.75));
            position: absolute;
            height: 100%;
            width: 100%;   
        }
        .banner-content {
            display: flex;
            justify-content: center;
            align-items: center;
            top: 50%;
            width: 100%;
            position: absolute;
            z-index: 99;
            h1 {
                color: #fff;
                font-size: 4rem;
                text-align: center;
                text-shadow: 1px 2px 7px #222;
                z-index: 10;
                margin: 0;
            }
        }
    }
    svg {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        // overflow: visible;
    }
}