<section class="contact-details">
    <div class="container">
        <div class="">
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="main-section">
                        <div class="contact-sec">
                            <i class="fa-solid fa-mobile"></i>
                            <h4>
                                Contact Us
                            </h4>
                            <h6>
                                +91 98765 43210
                            </h6>
                            <h6>
                                info@domainname.com
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="main-section">
                        <div class="contact-sec">
                            <i class="fa-solid fa-map-location-dot"></i>
                            <h4>
                                Address
                            </h4>
                            <h6>
                                145, Fortune The Shopping Island, Near Galaxy Circle, <br/>
                                Pal Gam, Surat - 395 009, Gujarat, India.
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>