<section id="service" class="service-section bg-animation-section bg-bottom">
    <div class="container">
        <div class="row pb-4">
            <div class="col-12 text-center">
                <div class="fancy-title-view1">
                    <h2>Our Services</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Etiam in dui velit Fusce accumsan.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12 mt-4" *ngFor="let service of services">
                <div class="card">
                    <div class="icon-wrapper">
                        <i [class]="service.serviceIcon"></i>
                    </div>
                    <h3>
                        {{ service.serviceName }}
                    </h3>
                    <p>
                        {{ service.serviceDescription }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>